
    /****************
         BUTTON
    ****************/
.nav-mobile-button {
    overflow:hidden;
    margin: auto;
    width: 90px;
    height: 90px;
    background: none;
    cursor: pointer;
    position: fixed;
    top:0;
    left:20px;
    z-index: 1000;
    display: none;
}

#nav-mobile-bar-top {
    top: 30px;
}

#nav-mobile-bar-middle {
    top: 45px;
}

#nav-mobile-bar-bottom {
    top: 60px;
}

.nav-mobile-bar {
    left: 15px;
    width: 60px;
    height: 3px;
    background: black;
    position: absolute;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.active#nav-mobile-bar-middle{
    left: 90px;
}

.active#nav-mobile-bar-top {
    top: 45px;
    transform: rotate(135deg);
    background: black;
}


.active#nav-mobile-bar-bottom {
    top: 45px;
    transform: rotate(-135deg);
    background: black;
}

/*Hover effects*/
.nav-mobile-button:hover #nav-mobile-bar-top:not(.active) {
    left: 20px;
}

.nav-mobile-button:hover #nav-mobile-bar-middle:not(.active){
    left: 10px;
}

.nav-mobile-button:hover #nav-mobile-bar-bottom:not(.active) {
    left: 20px;
}

/*Hover effects active*/
.nav-mobile-button:hover .active#nav-mobile-bar-top {
    top: 50px;
    left: 10px;
}

.nav-mobile-button:hover .active#nav-mobile-bar-bottom{
    top: 40px;
    left: 10px;
}
